openapi: "3.0.0"
info:
  description: "API Description"
  version: "1.0.0"
  title: "Amtsname: API Name"

servers:
  - url: "https://www.gis-rest.nrw.de/grs/rest/statistik/zensus_2011"

paths:
  /einwohner_sum.json:
    get:
      summary: Name des Endpoints
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      parameters:
        - in: query
          required: true
          name: data
          schema:
            type: string
          description: daten
          example: '{"type": "Feature",  "geometry": {    "type": "Polygon","coordinates": [  [[  8.637597,  48.675728],[  8.626611,  48.599499],[  8.7145,  48.603131],[  8.637597,  48.675728]  ]]  },  "crs": {"type": "name","properties": { "name": "EPSG:4326"}  }}'
    post:
      summary: Zensus Einwohnerzahlen für ein Gebiet.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      requestBody:
        required: true
        description: daten
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: "Feature"
                geometry:
                  type: object
                  properties:
                    type:
                      type: string
                      example: "Polygon"
                    coordinates:
                      type: array
                      items:
                        type: array
                        example:
                          [
                            [8.616714477539062, 49.89728832544083],
                            [8.605728149414062, 49.84506757956392],
                            [8.690185546875, 49.83842530390878],
                            [8.69842529296875, 49.89419205992558],
                            [8.616714477539062, 49.89728832544083],
                          ]
                crs:
                  type: object
                  properties:
                    type:
                      type: string
                      example: "name"
                    properties:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "EPSG:4326"

components:
  schemas:
    Result:
      type: string
